{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock title %}</title>
    {% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.4/swiper-bundle.css">
    <link rel="stylesheet" href="{% static 'article/css/main.css' %}">
    {% endblock css %}
</head>
<body>
    <!-- Header -->
    <header class="header" id="header">
        <nav class="navbar container">
            <a href="">
                <h2 class="logo">o.d.a.s</h2>
            </a>

            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="" class="list-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="" class="list-link">Dashboard</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url 'articleshome' %}" class="list-link">Articles</a>
                    </li>
                    <li class="list-item">
                        <a href="" class="list-link">Appointments</a>
                    </li>
                    <li class="list-item">
                        <a href="" class="list-link">Profile</a>
                    </li>
                    <li class="list-item">
                        <a href="" class="list-link screen-lg-hidden">Log In</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url 'upload_article' %}" class="list-link screen-lg-hidden">Write</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <button class="btn place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </button>

                <button class="btn place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </button>

                <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </button>

                <a href="" class="list-link screen-sm-hidden">Log In</a>
                <a href="{% url 'upload_article' %}" class="list-link screen-sm-hidden btn write-btn fancy-border">
                    <span>Write</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action={% url 'search' %} class="search-form">
                <input type="text" name="keyword" class="form-input" placeholder="What are you looking for ?">
                <button class="btn form-btn" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Press ESC to close</span>
        </div>
        <button class="btn form-close-btn place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </button>
    </div>

    <!-- Content -->
    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    <footer class="footer section">
        <div class="footer-container container d-grid">
            <div>
                <h6 class="title footer-title">Useful Links</h6>
                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="#" class="list-link">Dashboard</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Articles Forum</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Profile</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Appointments</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="title footer-title">Contact Us</h6>
                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="#" class="list-link">Phone :62894 03930</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Whatsapp :62917 68037</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Email :group10@odas.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.4/swiper-bundle.min.js"></script>
    <script src="{% static 'article/js/main.js' %}"></script>
    {% endblock js %}
</body>
</html>