.av-btn{
    margin: 17px;
}
.av-btn i{
    width: 15px;
    height: 15px;
}
.flex-object{
    display: flex;
    justify-content: center;
    
}
.additional-spinner-style{
    width: 3rem; 
    height: 3rem;
}
video {
    /* border-radius: 25%; */
    padding: 5px;
    margin: 14px;
    border-radius: 5px;
    border:2px solid black;
    background-color: rgb(2, 2, 2);
    height: 400px;
}
#local-video{
    padding: 2px;
    margin: 14px;
    border-radius: 5px;
    background-color: rgb(2, 2, 2);
    height: 100px;
}
#waiting-for-caller{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(1, 109, 109);
}