{% extends 'article/base1.html' %}

{% block title %}
{{article.title}}
{% endblock title %}

{% block content %}
<section class="blog-post section-header-offset">
    <div class="blog-post-container container">
        <div class="blog-post-data">
            <h3 class="title blog-post-title">{{article.title}}</h3>
            <div class="article-data">
                <span>{{article.upload_date}}</span>
                <span class="article-data-spacer"></span>
                <span>Author</span>
            </div>
            <img src="{{article.image.url}}" alt="Couldn't load image">
        </div>
        <div class="container">
            <div>{{article.blog|linebreaksbr}}</div>
            <div class="author d-grid">
                <div class="author-image-box">
                    <img src="" alt="Couldn't load image">
                </div>
                <div class="author-about">
                    <h3 class="author-name">Name of Doctor</h3>
                    <p>Doctor credentials</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}