*{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > footer {
    flex-grow: 1;
}

ul{
    list-style: none;
    padding-left: 0;
}

p{
    font-size: 3vh;
}
a{
    text-decoration: none;
}

ul a{
    text-decoration: none;
    color: inherit;
    height: fit-content;
}



.banner{
    background:linear-gradient(rgb(25,135,84), rgb(222, 226, 224));
    padding:20px 0px;
    color: rgb(61, 37, 5);
    animation: 2s ease-out 0s 1 forwards;
}
#app-brand{
    color: rgb(225, 243, 252);
}
.banner-top{
    animation: 2s ease-in-out 0s 1 slideInFromTop forwards;
}
.banner-top h1{
    font-size: 4rem;
}
.our-services{
    font-size: 3vh;
    list-style-type: none;
}
.our-services li{
    padding: 3px;
}

.banner-bottom{
    animation: 2s ease-in-out 0s 1 slideInFromRight forwards;
}
.banner-inner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.banner-inner div{
    margin: 10px;
}
#services{
    padding: 2px;
}
.register-now{
    font-weight: bold;
    color: rgb(2, 114, 30);
}
.register-now:hover{
    color: rgb(2, 71, 19);
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doc-index-sender{
    font-weight: 500;
}

.doc-index-sender:hover{
    box-shadow: 2px 2px rgb(19, 118, 19);
    color: rgb(19, 118, 19);
    background-color: rgb(219, 236, 219);
}

.feature-card{

    background-color: rgb(222, 224, 224);
    width: 450px;
    margin: 40px;
    padding: 13px;
    border-radius: 12px;
    animation: 2s ease-in-out 0s 1 slideInFromBottom forwards;
}
.feature-card h3{
    margin: 10px 7px;
}
.feature-card p{
    text-align: center;
}
.feature-card div{
    padding: 60px 0px;
}

.selected-date-time p{
    text-align: center;
}
.bg-custom-sg{
    background-color: rgb(24, 238, 70);
}
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes ColorPop {
    0% {
      background: transparent;
      opacity: 0;
    }
    100% {
      background:linear-gradient(rgb(25,135,84), rgb(222, 226, 224));
      opacity: 1;
    }
}
.gyan{
    font-weight: bold;
}

.section{
    padding-block: 4rem;
}

footer{
    bottom: 0;
    width: 100%;
}

.footer-container{
    gap: 2rem;
}

.pcontainer{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.d-grid{
    display: grid;
}

.title{
    color: #fff;
}

.footer-title{
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.footer-list{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
}

.list-link{
    color: silver;
}

.list-link:hover{
    color: blanchedalmond;
}

@media screen and (min-width: 1024px){
    .footer-container{
        grid-template-columns: repeat(3,1fr);
    }
}