{% extends "doctor/base.html" %}

{% block content %}
<form action="" method="post" class="form-center mt-5">
    {% csrf_token %}
    <table class="login-form">
        <tbody>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    <input type="text" name="username" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="password" name="password" class="form-control" required>
                </td>
            </tr>

        </tbody>
    </table>
    <div class="d-flex justify-content-center mb-4">
        <input type="submit" value="Login" class="btn btn-primary doc-login-btn">
    </div>
    <div>
        <!-- error messages -->
        {% for m in messages %}
        {{m}}
        {% endfor %}
    </div>
    <p><a href="{% url 'index_d' %}">Back to Home</a></p>
</form>
{% endblock %}