{% extends 'doctor/base.html' %}
{% load static %}

{% block content %}

<h1 class="text-center" id="hello-doctor">Hello Doctor! Welcome to the Online Doctor Appointment System</h1>
<div class="form-center index-page-form mb-5" id="doc-index-banner">
    <div class="form-stack">
        <div class="form-stack-item"><a href="{% url 'dr' %}">Register</a></div>
        <div class="form-stack-item"><a href="{% url 'dl' %}">Login</a></div>
    </div>
    <img src="{% static 'doctor/imgs/doc_index.PNG' %}" alt="">
</div>

{% endblock %}
