{% extends "patient/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div>
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong> Welcome to dashboard!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
  </div>
  <h1>
  Patient : {{patient.first_name}} {{patient.last_name}} 
    
  </h1>

  <h3>Welcome To DashBoard</h3>
  <p><a href="{% url 'logout_p' %}">Logout</a></p>

  <h3 class = "text-center">Available Doctors</h3>
  <hr>
  <div class="d-flex justify-content-center" style="flex-wrap: wrap;">
    {% for doctor in doctors %}
    <div class="card border-dark" style="width: 18rem; margin:5px;">
      <div class="card-body">

        <!-- image section -->
        <div class="d-flex justify-content-center">
        {% if doctor.img %}
        
          <img src="{{doctor.img.url}}" alt="Not Found" width="100px", height="100px" style="border-radius: 50%;">
        
        {% else %}
          {% if doctor.gender == "Female" %}
          <img src="{% static 'doctor/imgs/avatar/female-doc.jpg' %}" alt="Not Found" width="100px", height="100px" style="border-radius: 50%;">

          {% else %}
          <img src="{% static 'doctor/imgs/avatar/male-doc.png' %}" alt="Not Found" width="100px", height="100px" style="border-radius: 50%;">

          {% endif %}

        {% endif %}
        </div>

        <h5 class="card-title text-center">Dr. {{doctor.first_name}} {{doctor.last_name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">{{doctor.speciality}}</h6>
        <p style="margin-top: 15px; margin-bottom:0px; padding:0px;">Availability</p>
        <hr style=" margin:4px; padding:0px;">

        <!-- selectively show available days -->
        <div style="justify-content: center; align-items:center;">
          {% if doctor.sun_start %}
          <button disabled class="btn btn-primary btn-sm">Sun</button>
          {% endif %}
          {% if doctor.mon_start %}
          <button disabled class="btn btn-primary btn-sm">Mon</button>
          {% endif %}
          {% if doctor.tue_start %}
          <button disabled class="btn btn-primary btn-sm">Tue</button>
          {% endif %}
          {% if doctor.wed_start %}
          <button disabled class="btn btn-primary btn-sm">Wed</button>
          {% endif %}
          {% if doctor.thu_start %}
          <button disabled class="btn btn-primary btn-sm">Thu</button>
          {% endif %}
          {% if doctor.fri_start %}
          <button disabled class="btn btn-primary btn-sm">Fri</button>
          {% endif %}
          {% if doctor.sat_start %}
          <button disabled class="btn btn-primary btn-sm">Sat</button>
          {% endif %}
        </div>

        <p class="mt-2">Charges: Rs.{{doctor.charge}}/-</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#payment-for-{{doctor.id}}">
            Book Appointment
          </button>

          <!-- Appointment modal 
          controls full appointment process for doctor-->
          <div class="modal fade" id="payment-for-{{doctor.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{doctor.id}}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                  <h5 class="modal-title" id="exampleModalLabel{{doctor.id}}">Appointment with Dr. {{doctor.first_name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                  <h3 class="text-center">Select A Date For Appointment</h3>
                  <hr>

                  <!-- date quering -->
                  <div class="row">
                    <div class="col-md-6 offset-md-3">
                      <input class="form-control border-dark" type="date" id = "app-date-for-{{doctor.id}}">
                    </div>
                    <div class="text-center">
                      <button onclick="dateForAppointment('{{doctor.id}}')" class="btn btn-dark m-2">Check Availability</button>
                    </div>
                  </div>

                  <!-- div where the available times will be shown -->
                  <div id = "available-times-for-{{doctor.id}}" class="text-center"></div>
                  
                  <!-- link to call the django view of fixing Appointment after payment is done 
                  this will be called through javascript-->
                  <a href="#" id="successful-payment-{{doctor.id}}" style="visibility: hidden;"></a>

                  <!-- some information kept hidden -->
                  <span style ="visibility: hidden;" id = "charge-for-doctor-{{doctor.id}}">{{doctor.charge}}</span>
                  <span style ="visibility: hidden;" id = "paypal-for-doctor-{{doctor.id}}">{{doctor.paypal}}</span>

                  <!-- to show selected date and time -->
                  <div id = "date-and-time-for-{{doctor.id}}"></div>

                  <!-- paypal button for payment -->
                  <div class="row">
                    <div class="col-md-6 offset-md-3">
                      <div class="mt-5" id = paypal-button-container-{{doctor.id}}></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end of appointment modal -->

      </div>
    </div>
    {% endfor %}
  </div>

</div>





{% endblock %}