ul{
    list-style: none;
}

ul a{
    text-decoration: none;
    color: inherit;
    height: fit-content;
}

.alert-m-error {
    background-color: rgb(248, 200, 180);
}

.alert-m-success {
    background-color: rgb(176, 247, 129);
}

#edit-form{
    border: 1px solid rgb(201, 200, 200);
    box-shadow: 0px 1px 17px 2px rgb(192, 192, 192);
    border-radius: 8px;
    padding: 14px;
    margin: 15px;
}
.dates-container > div {
    display: flex;
    justify-content: space-between;
}
#update-btn{
    display: flex;
    justify-content: flex-end;
    margin: 0px 15px;
}

.report-display-each {
    border: 2px solid #eee;
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
}

.report-display-each > a {
    text-decoration: none;
    font-weight: bold;
}

.footer{
    background-color: #005fc5;
}

.section{
    padding-block: 4rem;
}

.footer-container{
    gap: 2rem;
}

.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.d-grid{
    display: grid;
}

.title{
    color: #fff;
}

.footer-title{
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-list{
    flex-direction: column;
    align-items: flex-start;
}

.list-link{
    color: silver;
}

.list-link:hover{
    color: blanchedalmond;
}

@media screen and (min-width: 1024px){
    .footer-container{
        grid-template-columns: repeat(3,1fr);
    }
}