ul{
    list-style: none;
}

a{
    text-decoration: none;
}


body{
    display: flex;
    padding-top: 55px;
    flex-direction: column;
    height: 100vh;

}

body > footer{
    flex-grow: 1;
    z-index: 2;
}

#hello-doctor{
    margin-top: 70px;
}

.logo{
    width: 130px;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

.heading-underline{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.underline{
    width: 25vw;
    height: 4px;

}

.navbar{
    z-index: 1;
    height: fit-content;
}

.navbar .container .collapse ul li{
    list-style: none;
    position: relative;
    margin-right: 8px;
    margin-left: 8px;
  }

.navbar .container .collapse ul li a{
    text-decoration: none;
    color: #fff;
  }

.navbar .container .collapse ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar .container .collapse ul li:hover::after{
    width: 100%;
  }

.alert-m-error {
    background-color: rgb(248, 200, 180);
}

.alert-m-success {
    background-color: rgb(176, 247, 129);
}

#edit-form{
    /* border: 1px solid rgb(201, 200, 200); */
    /* box-shadow: 0px 1px 17px 2px rgb(192, 192, 192); */
    border-radius: 8px;
    padding: 14px;
    margin: 15px;
}
.dates-container > div {
    display: flex;
    justify-content: space-between;
}
#update-btn{
    display: flex;
    justify-content: flex-end;
    margin: 0px 15px;
}

.report-display-each {
    border: 2px solid #eee;
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
}

.report-display-each > a {
    text-decoration: none;
    font-weight: bold;
}

.footer{
    background-color: #005fc5;
}

.section{
    padding-block: 4rem;
}

.footer-container{
    gap: 2rem;
}

.dcontainer{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.d-grid{
    display: grid;
}

.title{
    color: #fff;
}

.footer-title{
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-list{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
}

.list-link{
    color: silver;
}

.list-link:hover{
    color: blanchedalmond;
}

.login-form{
    width: 24vw;
    height: 20vh;
}

.login-form td{
    text-align: center;
    vertical-align: middle;
    color: #005fc5;
}
.login-form td > input {
    width: 90%;
}

.doc-reg-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.doc-reg-image{
    width: 550px;
    position: sticky;
    top: 120px;
    left: 70px;
}

.doc-login-btn{
   width: 70%;
   margin: auto;
   margin-top: 12px;
}

.doc-login-btn:hover{
    background-color: #fff;
    border: 1px solid #0a67ca;
    color: #0f68c7;
    font-weight: 500;
 }

.doc-dashboard-car{
    width: 50%;
    height: 60%
}


.form-center{
    align-items: center;
    width: fit-content;
    box-shadow: 5px 5px 10px 2px skyblue;
    background-color: aliceblue;
    gap: 2rem;
    margin: auto;
    padding: 2rem;
}

.form-stack{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-stack-item{
    border: solid 3px #005fc5;
    font-size: larger;
    display: block;
    padding: 10px 80px;
    border-radius: 15pc;
}

.form-stack-item:hover{
    background-color: #005fc5;
    border: none;
    transition: 0.3s;
}

.form-stack-item:hover a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.edit-page-title{
    text-align: center;
    color: #005fc5;
    margin-top: 1%;
    margin-bottom: 3rem;
}

.doc-edit-btn{
    width: 10rem;
    text-align: center;
    margin: auto;
    font-size: larger;
    font-weight: 2500px;
}

.doc-dashboard-div{
    height: 80vh;
}

.doc-dashboard-div{
    background: linear-gradient(rgb(110, 171, 224),#17a2b8);
}

.doc-dashboard-carousal-caption{
    top: 46.5%;
    transform: translateY(-50%);
}

.manual-circle-maker{
    border-radius: 50%;
    height: 211px;
    width: 211px;
}

.doc-dashboard-appointments-image{
    height: 400px;
    width: 400px;
}

.text-center{
    width: 50%;
    color: #005fc5;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 3rem;
}

.index-page-form{
    display: flex;
}

@media screen and (max-width: 820px){
    .text-center{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .index-page-form img{
        display: none;
    }

    .login-form{
        width: 70vw;
    }

    .doc-reg-image{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .footer-container{
        grid-template-columns: repeat(3,1fr);
    }
}